<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/student" method="GET">
    <input type="text" placeholder="surname" name="surname">
    <button type="submit">Submit</button>
</form>
<span id="result"><%= firstname.Firstname + " " + firstname.Lastname %></span>
</body>
</html>